body{
    background-color: rgb(165,44,0);
    font-family: "Libertinus Serif Display", system-ui;
    margin: 0;
    position: relative;
  }
  

 .heading{
  width: 100;
  height: 150px;
  margin-top: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f6c300;
  text-align: center;
 }
  
 .heading .h1{
 color:  #a4353c;
 }

 
.heading .p{
  font-size: large;
  color: #a4353c;
  font-weight: bold;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  
}


.products .dogs .h1{
  text-align: center;
  color: #f6c300;
  margin-top: 60px;
  margin-bottom: 40px;

}


.dogcards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card1{
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding:  0 0 50px 0 ;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
}

.card1:hover {
  transform: scale(1.05); 
} 


.card1 img {
 width: 100%;
 height: 200px;
 border-radius: 10px 10px 0 0;
}

.card1 h3{
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card1 p{
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}



.card2{
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding:  0 0 50px 0 ;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
}

.card2:hover {
  transform: scale(1.05); 
} 


.card2 img {
 width: 100%;
 height: 200px;
 border-radius: 10px 10px 0 0;
}

.card2 h3{
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card2 p{
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}



.card3{
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding:  0 0 50px 0 ;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
}

.card3:hover {
  transform: scale(1.05); 
} 


.card3 img {
 width: 100%;
 height: 200px;
 border-radius: 10px 10px 0 0;
}

.card3 h3{
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card3 p{
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}


.card4{
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding:  0 0 50px 0 ;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
}

.card4:hover {
  transform: scale(1.05); 
} 


.card4 img {
 width: 100%;
 height: 200px;
 border-radius: 10px 10px 0 0;
}

.card4 h3{
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card4 p{
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color:rgb(165,44,0) ; 
  color:white ; 
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color:  black; 
  color: white; 
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

 /* dog section ends */


 .cats h1 {
  text-align: center;
  color: #f6c300;
  margin-top: 60px;
  margin-bottom: 40px;
}

.catcards {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px; 


}

.card9 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card9:hover {
  transform: scale(1.05); 
}

.card9 img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.card9 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card9 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}


.card6 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card6:hover {
  transform: scale(1.05); 
}

.card6 img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.card6 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card6 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}


.card7 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card7:hover {
  transform: scale(1.05); 
}

.card7 img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.card7 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card7 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}


.card12 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card12:hover {
  transform: scale(1.05); 
}

.card12 img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.card12 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card12 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}


.card5 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card5:hover {
  transform: scale(1.05); 
}

.card5 img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.card5 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card5 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}




.card10 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card10:hover {
  transform: scale(1.05); 
}

.card10 img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.card10 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card10 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}


.card11 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card11:hover {
  transform: scale(1.05); 
}

.card11 img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.card11 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card11 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.card8 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card8:hover {
  transform: scale(1.05); 
}

.card8 img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.card8 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card8 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}


/* cats section ends */


.birds h1 {
  text-align: center;
  color: #f6c300;
  margin-top: 60px;
  margin-left:500px ;
  margin-bottom: 40px;
}

.birdscards {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px; 


}



.card13 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card13:hover {
  transform: scale(1.05); 
}

.card13 img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.card13 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card13 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}



.card14 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card14:hover {
  transform: scale(1.05); 
}

.card14 img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.card14 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card14 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}


.card15 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card15:hover {
  transform: scale(1.05); 
}

.card15 img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.card15 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card15 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}


.card16 {
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0 0 50px 0;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  transition: transform 0.3s ease;
  clear: both;
}

.card16:hover {
  transform: scale(1.05); 
}

.card16 img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.card16 h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.card16 p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: rgb(165, 44, 0);
  color: white;
  padding: 6px 12px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

